@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@500;600&display=swap');

html{
      scroll-behavior: smooth;
}

body{
      background-color: whitesmoke;
      margin: 0;
      padding: 0;
}

h1, h2{
      font-family: 'Cinzel', sans-serif;
}     

h1{
      font-size: 50px;
      text-align: center;
}

h2{
      font-size: 30px;
      text-align: center;
}

.outer-wrapper{
      position: fixed;
      left: 0;
      top: 0;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items:flex-start;
      justify-content: flex-start;
      background-color:	#C8102E;
      padding-right: 2vw;
}

.fixed-element{
      z-index: 1;
      padding: 2vw;
      font-family: "Cinzel", sans-serif;
      font-size: 2vw;
      text-align: center;
}


.fixed-element a {
	display: block;
	margin-bottom: 5em;
	text-decoration: none;
	color: whitesmoke;
}
.fixed-element a:link {
	color: whitesmoke;
}
.fixed-element a:visited {
	color: whitesmoke
}
.fixed-element a:hover {
	text-decoration: underline;
	color: whitesmoke;
}
.fixed-element a:active {
	text-decoration: underline;
}

.tabcontent{
      margin-left: 20vw;
      padding: 2vw;
}


.tabcontent p{
      font-family: 'Cormorant', sans-serif;
      font-weight: 600;
      width: 70%;
      line-height: 1.5;
      font-size: 20px;
      padding: 30px;
      margin-left: auto;
      margin-right: auto;
}

.image-figure{
      display: flex;
}

.turkish-flag{
      width: 50%;
      margin-left: 16vw;
}

figcaption{
      font-family: "Cormorant", sans-serif;
	font-size: calc(10px + 0.5vw);
	color: #333;
	margin-top: 8px;
	text-align: center;
      margin-left: -5vw;
}

p::first-letter{
      font-size: 200%;
      font-weight: bold;
      line-height: 1;
      float: left;
      margin-right: 5px;
      margin-top: 3px;
}

p{
      text-indent: 0px;
}

::-webkit-scrollbar{
      width: 20px;
      overflow-x: hidden;
}

::-webkit-scrollbar-thumb{
      background:	#C8102E;
}

::-webkit-scrollbar-track{
      box-shadow: inset 0 0 5px grey;
}