@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&display=swap');
body {
	font-family: 'Libre Baskerville', serif;
	background-color: #f8d9c2;
	margin: 0;
	padding: 0;
}

#navigation_bar {
	text-align: center;
	background-color: #f8d9c2;
	position: sticky;
	top: 0;
	padding: 0.7em;
	z-index: 10;
}

#navigation_bar ol li {
	display: inline-block;
}


a {
	text-decoration: none;
	color: #663614;
}

.active:hover a {
	text-decoration-line: underline;
	color: #663614;
}

.dropdown {
	position: relative;
}

.dropdown .dropdown-content {
	display: none;
	position: absolute;
	left: 0;
	background-color: #f8d9c2;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.tablinks {
	border: none;
	font-size: 1.5em;
	font-family: 'Bitter', sans-serif;
	background-color: #f8d9c2;
	padding-right: 2em;
}

.quotes h1{
      font-size: 48px;
      text-align: center;
      margin-bottom: 2em;
}

.quote-box {
	background-color: #f8d9c2;
	border: 2px solid #663614;
	margin: 20px auto;
	padding: 20px;
	width: 80%;
	max-width: 800px;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.quote-box p {
	font-family: 'Bitter', sans-serif;
	color: #663614;
	font-size: 20px;
	text-align: center;
      transition: background-color 0.3s, color 0.3s;
      font-style: italic;
}
.quote-box .additional-info p{
      font-style: normal;
}


.quote-box:hover {
	transform: scale(1.15);
	box-shadow: 0px 0px 15px rgba(102, 54, 20, 0.6);
}

.quote-box .additional-info {
      display: none;
      background-color: #f8d9c2;
}
  
.quote-box:hover .additional-info {
      display: block;
}
  
  